### pandas I/O
Read a .txt file of the table of elements taken from [here](https://www.science.co.il/elements/).

In [196]:
import pandas as pd

In [197]:
df = pd.read_table('..//files//tableofelements.txt', sep='\t', index_col=1).reset_index().drop('index', 1)

In [198]:
df.head()

,No.,Atomic Weight,Name,Sym.,M.P.(째C),B.P.(째C),Density(g/cm3),Earth crust (%),Discovery(Year),Group,Electron configuration,Ionization energy (eV)
0,1,1.0079,Hydrogen,H,-259.0,-253.0,0.09,0.14,1776,1,1s1,13.5984
1,2,4.0026,Helium,He,-272.0,-269.0,0.18,NaN,1895,18,1s2,24.5874
2,3,6.9410,Lithium,Li,180.0,"1,347.00",0.53,NaN,1817,1,[He] 2s1,5.3917
3,4,9.0122,Beryllium,Be,"1,278.00","2,970.00",1.85,NaN,1797,2,[He] 2s2,9.3227
4,5,10.8110,Boron,B,"2,300.00","2,550.00",2.34,NaN,1808,13,[He] 2s2 2p1,8.2980

In [199]:
df.to_json('..//files//tableofelements.json')

In [200]:
df.to_csv('..//files//tableofelements.csv')