##  (P1) [Basics of Python](https://docs.python.org/3/tutorial/inputoutput.html)

- (A) printing hello world !

To write a sentence or word or a character at first we should use buit-in python function print(). Then we need to put the text in the form of print("your text") or print('your text'). Text is called string in Python.

In [29]:
print("Hello there")
#print(hello there)
#print('hello there')
#print('hello there)
# print('hello there')
# print('hello there)

Hello there

(B) printing numeric values. 

- If the numeric value does not have decimals, it is integer. 
- If numeric value has decimal, it is called float.

In [12]:
# print(1.2)
# print(1e2)
print(1.5)

1.5

- (C) **Define** a variable. Assign a value and then print it.

In [14]:
variable_a='weather'
print(variable_a)

weather

- (D) Print string and numeric value using the print function.

You want to write something like: The workshop will be held during the month of var_a in the year of var_b.

In [13]:
var_a="July"
var_b=2022
print("The workshop will be held during the month of: ",var_a," in the year: ", var_b)

The workshop will be held during the month of:  July  in the year:  2022

- (E) [Basic arithmetic operations](https://www.w3schools.com/python/python_operators.asp)

In [ ]:
5+4

In [ ]:
5**2

In [4]:
a*a

NameError: name 'a' is not defined

In [13]:
a=5
print(a*a)

25

In [14]:
10%3 #Modulus operation

1



- (F) Formatting numbers during printing (this can be boring, I can remove this)

In [22]:
x = 2345.6789 # f-string version
print(f"{x:.3}") # will print 2.35+e03

print(f"{x:,}") # separated by comma, will print 2,345.6789


# y=3.587123e4
# print(f"{y:f}")

# total=16
# present=14 

# print(f"Only  {present / total :.2%} people showed up in the event")


# print('Floating point numbers: %1.4f' %(100/33))

2.35e+03
2,345.6789

- Take user input

In [21]:
name=input()
age=input()

print("The user entered their name as ",name," and their age as ",age)

Ross
Taylor
The user entered their name as  Ross  and their age as  Taylor

### Flow Control

In [ ]:
x = int(input('Input and integer: '))
if x > 9:
    print('The input is larger than 9.')
elif x < 3:
    print('The input is smaller than 3')
else:
    print('The input is between 3 and 9')

#### Problem 1: 
(a) A variable named var_x takes input from the keyboard. The input value should be an integer. If the input is float or object or string, print "invalid input". 

(b) Now, pass this var_x to another variable named var_y. Then print that "second variable received the number (it should show the input value) from the first variable".

Hint: The syntax to check python datatype is type(var_y) where you want to check the type of var_y i.e. whether it is a string or an integer.

In [35]:
# Solve Problem 1 here.

### [(P2) Getting started with list and for loop in Python](https://docs.python.org/3/tutorial/datastructures.html)

In [1]:
list1=[1,2,3,4]
list2=[5,6,7,8]



print("The members in the list are: ",list2)

print("The first element in the list1 is: ",list1[1])

The members in the list are:  [5, 6, 7, 8]
The first element in the list1 is:  2

- (H) Print all elements of the above list using for loop

In [58]:
for element in list2:
    print(element)

5
6
7

- (I) print both lists together

In [66]:
for (el,ev) in zip(list1,list2):
    print(el,ev)

1 5
2 6
3 7
4 8

- (J) print list elements with index

In [75]:
for indx,el in enumerate(list1):
    print("index number: ",indx," element number: ",el)

index number:  0  element number:  1
index number:  1  element number:  2
index number:  2  element number:  3
index number:  3  element number:  4

- (k) Using format style

In [36]:
members=['A','B','C','A5']

for x in range(len(members)):
    print('member = {}'.format(members[x]))

member = A
member = B
member = C
member = A5

- Count number of specific events in the list. 

Suppose you are given a list and you want to count how many elements are 9 there.

In [39]:
#Tips 1 

list_x= [1,2,4,9,0,-5,9,9]  

c=0

for value in list_x:
    if value==9:
        c=c+1
print("9 occur ",c," times")

9 occur  3  times

#### List operations

In [50]:
new_list=[]
#Append value 
new_list.append(1)
print(new_list)
new_list.append(10)
print(new_list)

[1]
[1, 10]

In [51]:
# remove element from a list
new_list=[1,11,121,1221,122221,19]
new_list.remove(19)

print(new_list)

[1, 11, 121, 1221, 122221]

In [52]:
# pop element
new_list=[1,11,121,9,99]
new_list.pop()

99

In [56]:
# reverse a list

new_list=[1,11,121,1221]
new_list.reverse()
print(new_list)

[1221, 121, 11, 1]

#### Problem 2 

You are given a chemical formula. Your should decide whether it is alkene or alkane. If it is none of them, then print "invalid formula"

formula for Alkene is $C_{n}H_{2n}$ and formula for Alkane is $C_{n}H_{2n+2}$

Check the following cases:
(i) C2H4  (ii) C2H6 (iii)C2H5


Conditions: Length of the up_formula should be 4. Otherwise, print "invalid"

Hints: (1) Find/ Look at Tips 1. (2) To access nth element of a list use your_list[n-1].

In [46]:
formula=input() 
up_formula=list(formula)
print(up_formula)

C2H4
['C', '2', 'H', '4']

In [47]:
#Use the above 2 lines of code as a starting point for problem 2.

#### Problem 3: 

You are given a string and your code should decide whether it is a palindrome sequence or not.
Palindrome: input == reverse(input)

In [60]:
x="palindrome"

#write your solution here using reverse() function.

In [59]:
#### Problem 3.1: 
x="palindrome"

#write your solution using pop operation.

##  [Exception handling](https://docs.python.org/3/tutorial/errors.html)

In [ ]:
try:
    x = int(input('Input an integer: '))
    print(list(range(x)))
except:
    raise Exception('The input needs to be an integer!')

##  (P2) Using Basic Python packages

In [2]:
import os

- To make a directory/folder write: os.mkdir("name")
- To change to directory write: os.chdir("path of directory")
- To see the current directory, write: os.getcwd()
- To list the available files of the directory write: os.listdir("*")

In [ ]:
os.mkdir("folder_1")
print(os.getcwd())
os.chdir(r'folder_1')
print(os.getcwd())

In [25]:
os.listdir(".")

['modular.py',
 'pyramidmaker.py',
 'PyTutorial_01_Basics.ipynb',
 'PyTutorial_02_Jupyter.ipynb',
 'PyTutorial_03_Numerics.ipynb',
 'PyTutorial_04_Visualization.ipynb',
 'PyTutorial_05_AdvancedTopics.ipynb',
 'PyTutorial_06_NichePackages.ipynb']

In [15]:
import os
os.getcwd()

'C:\\Users\\souri'

# Loading specific files using their extensions

In [17]:
import glob
python_files=glob.glob("*ipynb")

In [19]:
csv_files=glob.glob("*csv")
csv_files

['boston.csv',
 'BostonHousing.csv',
 'com.csv',
 'combined.csv',
 'csvs1234.csv',
 'csvs1235.csv',
 'csvs1253.csv',
 'csvs1254.csv',
 'csvs1272.csv',
 'csvs1273.csv',
 'csvs51458.csv',
 'csvs51459.csv',
 'csvs51477.csv',
 'csvs51478.csv',
 'csvs51496.csv',
 'csvs51497.csv',
 'gs48.csv',
 'gs5.csv',
 'Historic dataset on 2020 11 22_v7_Compleat(1).csv',
 'PGCB_Demand_Data_2021.csv',
 'tsample.csv']